.connect {
  width: 40%;
  height: 300px;
  align-items: stretch;
}

.connect input, .connect button {
  display: block;
  margin: 10px 0;
  /* width: 80%; */
  height: 30px;
  padding: 0;
  border: 0 none;
}
.connect input {
  text-align: center;
}

.connect button {
  -webkit-appearance: button;
  background-color: #eb396c;
  color: white;
  font-weight: bold;
  font-size: 10pt;
}
