label {
  width: 100px;
  display: inline-block;
  margin: 5px 0px;
}

input[type="text"] {
  width: 30%;
}

.row {
  position: relative;
  overflow: auto;
}

.row .half-page {
  position: relative;
  float: left;
  width: 49%;
}

#participants {
  list-style: none;
}

video {
  width: 100%;
}

.clear {
  clear: both;
}

.text-center {
  text-align: center;
}
